@use '@/styling/variables' as *;
@use '@/styling/mixins' as *;

.allowed-category-modal-form {
  @include flex-column;
  gap: $spacing-lg;
}

.info-note {
  @include flex-row;
  align-items: center;
  gap: $spacing-xs;
  padding: $spacing-sm $spacing-md;
  background-color: $neutral-gray-100;
  border-radius: $border-radius-md;
  font-size: $font-size-xs;
  color: $neutral-gray-600;
}
